@font-face {
 font-family: 'PlayfairDisplay';
 src: url('../fonts/PlayfairDisplay.ttf') format('truetype');
 font-style: normal;
}

@font-face {
 font-family: 'PlayfairDisplay-Italic';
 src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
 font-style: italic;
}

@font-face {
 font-family: 'Inconsolata-Regular';
 src: url('../fonts/Inconsolata-Regular.ttf') format('truetype');
 font-style: normal;
}

@font-face {
 font-family: 'Ubuntu-Light';
 src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
 font-style: normal;
}
